#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


header {
  position: fixed;  
  top: 0;  /* Aligne le header tout en haut */
  left: 0;
  width: 100%;  
  background-color: #f0f0f0;  
  padding: 10px 20px;  
  display: flex; 
  align-items: center;  
  gap: 30px;  

}


.nav-link {
  text-decoration: none;  
  color: #502b77;  
  font-size: 16px;
  font-weight: bold;

}

.form {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 450px;
  text-align: center;
}

 h1 {
  margin-bottom: 20px;
  color: #502b77;
  font-size: 30px;
}
label {
  margin-bottom: 20px;
  color: #502b77;
  font-size: 20px;

}

button {
  margin-top: 15px;
}